<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Token" value="{YOUR KEY HERE}" /> <!--Discord Bot Token-->
    <add key="Cats" value="https://aws.random.cat/meow" />
    <add key="Dogs" value="https://dog.ceo/api/breeds/image/random" />
    <add key="giphelove" value="https://api.giphy.com/v1/gifs/random?api_key={YOUR KEY HERE}&amp;tag=Love&amp;rating=g" /> <!--api.giphy.com // use &amp; to escape &-->
    <add key="giphykittens" value="https://api.giphy.com/v1/gifs/random?api_key={YOUR KEY HERE}&amp;tag=kittens&amp;rating=g" /> <!--api.giphy.com // use &amp; to escape &-->
    <add key="meme" value="https://meme-api.herokuapp.com/gimme" /> <!--/gimme/{subreddit}-->
    <add key="porn" value=" 111 " /> <!--/gimme/{subreddit}-->
    <add key="Hellow" value="i'm ready" /> <!--Ready Message-->
  </appSettings>
</configuration>